@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
}

.astro-code {
	padding: theme(padding.4);
	margin-bottom: theme(margin.4);
}

.expressive-code {
	@apply mb-4;
}

.footnotes {
	@apply text-sm border-t dark:border-neutral-600 pt-4;
}

body {
	&:has(dialog[open]) {
		overflow: hidden;
	}
}

html {
	scrollbar-gutter: stable;
}
