---
import type { HTMLAttributes } from "astro/types";

type Props = Omit<HTMLAttributes<"h1">, "class">;

const props = Astro.props as Props;
---

<h1 {...props} class="text-3xl mb-4 md:mb-6">
	<slot />
</h1>
