---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;
const {
	class: className,
	"class:list": classList,
	...rest
} = Astro.props as Props;
---

<a
	{...rest}
	class:list={[
		"hover:underline",
		"text-orange-700 dark:text-orange-400",
		"hover:text-orange-600 dark:hover:text-orange-300",
		className,
		classList,
	]}
>
	<slot />
</a>
