---
import Link from "./Link.astro";
import Socials from "./Socials.astro";
---

<nav class="lg:text-right" aria-labelledby="site-nav-title">
	<span id="site-nav-title" class="sr-only">Site navigation</span>
	<h2 class="font-light text-xl lg:text-2xl mb-2 lg:mb-4">
		<Link
			class="text-inherit dark:text-inherit hover:text-inherit dark:hover:text-inherit hover:cursor-pointer"
		>
			Georges Haidar
		</Link>
	</h2>
	<div>
		<Socials size="6" />
	</div>
</nav>
