---
import InfoIcon from "./icons/InfoIcon.astro";

type Props = {
	title?: string;
	children: unknown;
};
const { title } = Astro.props as Props;
const fullTitle = ["Tip", title].filter(Boolean).join(": ");
---

<div class="flex gap-2 my-6 last:mb-0">
	<div class="py-4 md:block grow-0 shrink-0">
		<InfoIcon class="text-orange-300/70" />
	</div>
	<div class="grow-1 p-4 border-2 border-orange-300/70 rounded-lg">
		<p class="font-semibold mb-2">{fullTitle}</p>
		<slot />
	</div>
</div>
