---
import "../styles/base.css";
import "../styles/fonts.css";

export interface Props {
	title: string;
	titleQualifier?: string;
	description: string;
	noIndex?: boolean;
}

const {
	title,
	titleQualifier = " | Georges Haidar",
	description,
	noIndex = false,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{noIndex ? <meta name="robots" content="noindex, nofollow" /> : null}
		<meta name="twitter:site" content="@ghaidar0" />
		<meta property="og:site_name" content="Blog | Georges Haidar" />
		<slot name="head" />
		<link
			rel="preload"
			href="/fonts/Inter-VariableFont.ttf"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Inconsolata-VariableFont_wdth,wght.ttf"
			as="font"
			crossorigin="anonymous"
		/>
		<link
			rel="preload"
			href="/fonts/Inter-VariableFont-Italic.ttf"
			as="font"
			crossorigin="anonymous"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}{titleQualifier}</title>
	</head>
	<body class="antialiased text-zinc-800 dark:bg-zinc-950 dark:text-zinc-50">
		<slot />
	</body>
</html>
