---
import SiteNav from "../components/SiteNav.astro";
import "../styles/fonts.css";

export interface Props {
	title: string;
	titleQualifier?: string;
	description: string;
	noIndex?: boolean;
}

const {
	title,
	titleQualifier = " | Georges Haidar",
	description,
	noIndex = false,
} = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		{noIndex ? <meta name="robots" content="noindex, nofollow" /> : null}
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/jpeg" href="/favicon.jpg" />
		<link rel="stylesheet" href="/fonts.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}{titleQualifier}</title>
	</head>
	<body class="text-zinc-800 dark:bg-zinc-900 dark:text-zinc-50">
		<div
			class="grid auto-rows-max md:auto-rows-auto grid-cols-1 md:grid-cols-12 min-h-screen"
		>
			<div
				class="col-span-full md:col-span-3 px-6 pt-6 pb-3 md:pb-6 border-b border-dotted border-orange-400 md:border-b-0 md:border-r"
			>
				<SiteNav />
			</div>
			<div class="col-span-full md:col-span-6">
				<slot />
			</div>
		</div>
	</body>
</html>
